<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Complejidad Algorítmica</title>
</head>
<body>
	<h1>Complejidad Algorítmica</h1>	
	<ul>
		<li><a href="https://en.wikipedia.org/wiki/Linear_search">Linear Search</a> Avg: O(n) Best: O(1)</li>
		<li><a href="https://en.wikipedia.org/wiki/Binary_search_algorithm">Binary Search</a> Avg: O(log n) Best: O(1)</li>
		<li>for(A.i=0;B.i<n;C.i++){} c.a= 2n+2 ~ O(n) --> A.1 asignación + B.(n+1) repeticiones/comparaciónes + C.n incrementos</li>
		<li>for(i=0;i<n;i+=2){} c.a= n+2 ~ O(n) --> 1 asignación + (n+1) repeticiones/comparaciónes + n/2 incrementos</li>
		<li></li>
		<li></li>
	</ul>
	<br>
	<a href="/">Index</a>
</body>
</html>
